.logo {
    width: 450px;
    height: 180px;
    padding: 0;
}

.header {
    padding-bottom: 50px;
    position: relative;
}

@media (max-width: 768px) {
    .logo {
        width: 250px;
        height: 120px;
    }
}