.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    list-style: none;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 250px;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.pokemon-name {
    font-size: 20px;
}

.pokemon-type {
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
}